<launch>
	<!-- <node name="stage" pkg="stage_ros" type="stageros" args="$(find learning_navigation)/worlds/turtlebot3_house.world" /> -->
    
    <node pkg="learning_multirobot" type="team_observer.py" name="observer" output="screen" />

    <node pkg="learning_multirobot" type="team_member.py" name="team_member1" output="screen" args="1"/>
    <node pkg="learning_multirobot" type="team_member.py" name="team_member2" output="screen" args="2"/>
    <node pkg="learning_multirobot" type="team_member.py" name="team_member3" output="screen" args="3"/>
    <node pkg="learning_multirobot" type="team_member.py" name="team_member4" output="screen" args="4"/>

    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" ns="turtle1"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle2" ns="turtle2"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle3" ns="turtle3"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtle4" ns="turtle4"/>
</launch>