<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <!-- @ REQUIRED @ nome del robot e spawn position -->
    <arg name="robot_name" />
    <arg name="x_pos" />
    <arg name="y_pos" />
    <arg name="z_pos" />

    <param name="tf_prefix" value="$(arg robot_name)" />

    <!-- tbot bringup -->
    <include file="$(find learning_multirobot)/launch/includes/turtlebot3_remote.launch">
		<arg name="model" value="$(arg model)"/>
        <arg name="multi_robot_name" value="$(arg robot_name)" />
	</include>

    <!-- spawner -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model $(arg robot_name)
          -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
          -param robot_description"
    />

    <!-- AMCL -->
    <include file="$(find learning_multirobot)/launch/includes/amcl_multirobot.launch" >
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="x_pos" value="$(arg x_pos)" />
        <arg name="y_pos" value="$(arg y_pos)" />
    </include>

    <!-- move base -->
    <include file="$(find learning_multirobot)/launch/includes/move_base_multirobot.launch">
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="model" value="$(arg model)" />
    </include>
</launch>