<launch>
    <arg name="empty" default="true" />
    <arg name="metric_map" default="$(find learning_toponav)/maps/mymap.yaml" />
    <arg name="outmap" default="$(find learning_toponav)/maps/topomap_2.tpg" />
    <arg name="edgelist_dir" default="$(find learning_toponav)/maps/edgelist.txt" />

    <node pkg="learning_toponav" type="map_editor.py" name="map_editor"
          args="--empty $(arg empty) --map $(arg metric_map)
          --outmap $(arg outmap) --edgelist $(arg edgelist_dir)"
          output="screen"
    />
</launch>