<launch>
    <arg name="metric_map" default="$(find learning_toponav)/maps/mymap.yaml" />
    <arg name="outmap" default="$(find learning_toponav)/maps/topomap_2.tpg" />
    <arg name="in_topomap" default="$(arg outmap)" />
    <arg name="edgelist_dir" default="$(find learning_toponav)/maps/adjlist.txt" />
    <arg name="png" default="$(find learning_toponav)/maps/visualimage.png" />

    <arg name="edit_mode" value="true" />

    <node pkg="learning_toponav" type="map_editor.py" name="map_editor"
          args="--empty true --map $(arg metric_map)
          --outmap $(arg outmap) --edgelist $(arg edgelist_dir) --png $(arg png)"
          output="screen" unless="$(arg edit_mode)"
    />

    <node pkg="learning_toponav" type="map_editor.py" name="map_editor"
          args="--tmap $(arg in_topomap) --map $(arg metric_map)
          --outmap $(arg outmap) --edgelist $(arg edgelist_dir) --png $(arg png)"
          output="screen" if="$(arg edit_mode)"
    />
</launch>