<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <!-- @ REQUIRED @ robot name (same as namespace), color and spawn position -->
    <arg name="robot_name" />
    <arg name="color" />
    <arg name="x_pos" />
    <arg name="y_pos" />
    <arg name="z_pos" />
    <arg name="config_yaml" />

    <group ns="$(arg robot_name)">
        <param name="tf_prefix" value="$(arg robot_name)" />

        <!-- tbot bringup -->
        <include file="$(find learning_toponav)/launch/includes/turtlebot3_remote.launch">
            <arg name="model" value="$(arg model)"/>
            <arg name="color" value="$(arg color)" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <!-- spawner -->
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
              args="-urdf -model $(arg robot_name)
              -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
              -param robot_description">
            <remap from="joint_states" to="/$(arg robot_name)/joint_states" />
            <remap from="scan" to="/$(arg robot_name)/scan" />
            <remap from="cmd_vel" to="/$(arg robot_name)/cmd_vel" />
        </node>

        <!-- AMCL -->
        <include file="$(find learning_toponav)/launch/includes/amcl_multirobot.launch" >
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="x_pos" value="$(arg x_pos)" />
            <arg name="y_pos" value="$(arg y_pos)" />
        </include>

        <!-- move base -->
        <include file="$(find learning_toponav)/launch/includes/move_base_multirobot.launch">
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>

        <!--toponavigator-->
        <node pkg="learning_toponav" type="toponavigator.py" name="toponavigator"
              args="--robot $(arg robot_name) --yaml $(arg config_yaml)"
              output="screen"
        />
    </group>
</launch>