<launch>
    <arg name="config_yaml" />

    <!--robot 1-->
    <group ns="robot_1">
        <include file="$(find learning_toponav)/launch/includes/one_robot.launch">
            <arg name="robot_name" value="robot_1" />
            <arg name="color" value="'1 0 0 1'" />
            <arg name="config_yaml" value="$(arg config_yaml)" />

            <arg name="x_pos" value="4" />
            <arg name="y_pos" value="4" />
            <arg name="z_pos" value="0" />
        </include>
    </group>

    <!--robot 2-->
    <group ns="robot_2">
        <include file="$(find learning_toponav)/launch/includes/one_robot.launch">
            <arg name="robot_name" value="robot_2" />
            <arg name="color" value="'0 0 1 1'" />
            <arg name="config_yaml" value="$(arg config_yaml)" />

            <arg name="x_pos" value="-2" />
            <arg name="y_pos" value="4" />
            <arg name="z_pos" value="0" />
        </include>
    </group>

    <!--robot 3-->
    <group ns="robot_3">
        <include file="$(find learning_toponav)/launch/includes/one_robot.launch">
            <arg name="robot_name" value="robot_3" />
            <arg name="color" value="'0.9 0.9 0 1'" />
            <arg name="config_yaml" value="$(arg config_yaml)" />

            <arg name="x_pos" value="-2" />
            <arg name="y_pos" value="-1" />
            <arg name="z_pos" value="0" />
        </include>
    </group>

    <!--robot 4-->
    <group ns="robot_4">
        <include file="$(find learning_toponav)/launch/includes/one_robot.launch">
            <arg name="robot_name" value="robot_4" />
            <arg name="color" value="'0 1 0 1'" />
            <arg name="config_yaml" value="$(arg config_yaml)" />

            <arg name="x_pos" value="3" />
            <arg name="y_pos" value="-1" />
            <arg name="z_pos" value="0" />
        </include>
    </group>

    <!--&lt;!&ndash;robot 5&ndash;&gt;-->
    <!--<group ns="robot_5">-->
    <!--    <include file="$(find learning_toponav)/launch/includes/one_robot.launch">-->
    <!--        <arg name="robot_name" value="robot_5" />-->
    <!--        <arg name="color" value="'1 0 1 1'" />-->
    <!--        <arg name="config_yaml" value="$(arg config_yaml)" />-->

    <!--        <arg name="x_pos" value="3" />-->
    <!--        <arg name="y_pos" value="2" />-->
    <!--        <arg name="z_pos" value="0" />-->
    <!--    </include>-->
    <!--</group>-->
</launch>