<launch>
    <arg name="adjlist" />
    <arg name="topics_yaml" />

    <group if="$(eval source == '' and dest == '')">
        <node pkg="learning_toponav" type="topoplanner.py" name="topoplanner"
              args="--adjlist $(arg adjlist) --yaml $(arg topics_yaml)"
              output="screen"
        />
    </group>
</launch>