<launch>
	<arg name="x_pos" default="-3.0"/>
	<arg name="y_pos" default="1.0"/>
	<arg name="z_pos" default="0.0"/>
	
	<node pkg="map_server" type="map_server" name="map_loader" args="$(find learning_navigation)/maps/mymap.yaml" />
	<!-- AMCL -->
	<node pkg="amcl" type="amcl" name="amcl" args="scan:=scan">
		<param name="initial_pose_x" value="$(arg x_pos)" />
		<param name="initial_pose_y" value="$(arg y_pos)" />
		<param name="use_map_topic" value="true" />
		<param name="first_map_only" value="true" />
	</node>
</launch>