<launch>
  <arg name="model" />
  <arg name="multi_robot_name" default=""/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro' " />
  <!--prefix:=$(arg multi_robot_name)-->

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)" />
    <!--<param name="ignore_timestamp" value="true" />-->
    <!--<param name="use_tf_static" value="false" />-->

    <!--<remap from="joint_states" to="/$(arg multi_robot_name)/joint_states" />-->
  </node>
</launch>
