<launch>
	<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
	<arg name="x_pos" default="0.0"/>
	<arg name="y_pos" default="0.0"/>
	<arg name="z_pos" default="0.0"/>

    <arg name="environment" default="condo_floor" />
    <arg name="default_rviz_conf" default="true" />
	<arg name="gazebo_gui" default="false" /> <!-- GAZEBO GUI -->

	<arg name="teleop_output" default="" doc="change with 'gnome-terminal --command'" />
	<arg name="rviz_config" default="-d $(find learning_navigation)/rviz/complete_config.rviz" if="$(arg default_rviz_conf)"/>
	<arg name="rviz_config" default="-d $(find learning_navigation)/rviz/base_config.rviz" unless="$(arg default_rviz_conf)"/>

	<!--gazebo-->
	<include file="$(find learning_navigation)/launch/includes/main_gazebo.launch">
		<arg name="world_name" value="$(find learning_navigation)/worlds/$(arg environment).world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="$(arg gazebo_gui)"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>

	<!--gzserver killer-->
	<node pkg="my_fun" type="gz_killer.py" name="gz_killer" output="screen" />

	<!--tbot bringup-->
	<include file="$(find learning_navigation)/launch/includes/turtlebot3_remote.launch">
		<arg name="model" value="$(arg model)"/>
	</include>

	<!--spawner-->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
		  args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)
		  -param robot_description"
	/>

	<!-- teleop -->
	<node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"
		  output="screen" launch-prefix="$(arg teleop_output)"
	/>

	<!--gmapping-->
    <node pkg="learning_navigation" type="gmapping_nolog.sh" name="gmapping" />

	<!-- move_base -->
	<include file="$(find learning_navigation)/launch/includes/move_base.launch" />

	<!-- RVIZ -->
	<node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_config)"/>
</launch>
