<launch>
    <arg name="environment" value="house" />
    <arg name="metric_map" default="$(find learning_toponav)/maps/$(arg environment)/metric.yaml" />
    <arg name="outmap" default="$(find learning_toponav)/maps/$(arg environment)/topomap.tpg" />
    <arg name="in_topomap" default="$(arg outmap)" />
    <arg name="edgelist_dir" default="$(find learning_toponav)/maps/$(arg environment)/adjlist.txt" />
    <arg name="png" default="$(find learning_toponav)/maps/$(arg environment)/visualimage.png" />

    <arg name="edit_mode" value="false" />

    <node pkg="learning_toponav" type="map_editor.py" name="map_editor"
          args="--empty true --map $(arg metric_map)
          --outmap $(arg outmap) --edgelist $(arg edgelist_dir) --png $(arg png)"
          output="screen" unless="$(arg edit_mode)"
    />

    <node pkg="learning_toponav" type="map_editor.py" name="map_editor"
          args="--tmap $(arg in_topomap) --map $(arg metric_map)
          --outmap $(arg outmap) --edgelist $(arg edgelist_dir) --png $(arg png)"
          output="screen" if="$(arg edit_mode)"
    />
</launch>